/* Mecahnics ==================== */

body {
  padding-top: 50px;
}

/* Center the navbar */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* General ==================== */

body {
  font-family: "soleil";
  color: rgb(102, 102, 102);
}

h1, h2, h3 {
  font-family: "Bebas Neue";
}

ol, ul {
  list-style: none;
}

/* Colors ==================== */

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .page-header {
  color: #F7F1C9;
}

.navbar {
  background-color: #E7C586;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #F7F1C9;
  background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #B99A54;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  font-size: 125%;
}

.navbar-fixed-top {
  border-color: #B99A54;
}

/* Hamburger button */
.navbar-default .navbar-toggle {
  border-color: #B99A54;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #B99A54;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #F7F1C9;
}

/*.navbar-default .navbar-nav>li:hover {
  background-color: #b99a54;
  webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}*/

.navbar-default .navbar-nav>li>a:hover {
  color: #B99A54;
  webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.jumbotron {
/*  background-color: #E7C586;*/
/*  color: #F7F1C9;*/
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iI2ZmZmRmNyI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMiIgZmlsbD0iI0U0RERDMiI+PC9yZWN0Pgo8cmVjdCB5PSItNTAiIHdpZHRoPSI5OSIgaGVpZ2h0PSIyIiBmaWxsPSIjRTREREMyIj48L3JlY3Q+CjwvZz4KPC9zdmc+");}

/* Links */

a {
  color: #75B187;
}

a:hover, a:focus {
  color: #85C99A;
  text-decoration: underline;
}

.btn-default {
  color: #75B187;
  background-color: #FFFFFF;
  border-color: #75B187;
}

.btn-default:hover {
  color: #FFFFFF;
  background-color: #75B187;
  border-color: #75B187;
  webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

/* Section Rows ==================== */

.section {
  font-size: 120%;
}

header {
  padding-top: 30px;
  border-top: solid 1px #b99a54;
  color: #b99a54;
}

.section h2 {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px #e6e6e6;
}

.section h3 {
  color: #888888;
}

.section > div > small span a {
  background-color: #e6e6e6;
  padding: 10px 20px;
  margin-right: 10px;
}

/* Schedule ==================== */

header span {
  color: #b3b3b3;
}

.section-event {
    margin-bottom: 4em;
}

/* Set the first section away from the header */
.section-event:nth-of-type(1) {
  margin-top: 4em;
}
.section-travel:nth-of-type(1) {
  margin-top: 4em;
}

/* Guide ==================== */

.section-location {
    margin-bottom: 4em;
}

.section-location .jumbotron {
  padding-left: 0px;
  padding-right: 0px;
}

.location {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.location.active {
  background:#222;
  color:#eee;
}

#locations {
  background-color: white;
  margin-top: 20px;
}

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
}

#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:230%;
  left:-50%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}

/* Travel ==================== */

.section-travel {
    margin-bottom: 4em;
}

.section-travel > div > h3:nth-of-type(1) {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px #e6e6e6;
}


/* Responsive ==================== */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .jumbotron {
    padding: 0px;
    font-size: 97%;
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: solid 1px #b99a54;
  }
  
  .section-event:nth-of-type(1) {
    margin-top: 0px;
  }
  .section-travel:nth-of-type(1) {
    margin-top: 0px;
  }
  .section:first-of-type > div > header {
    border-top: 0px;
  }
  #locations {
    margin-top: 0px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
  
}
