---
---

/* Variables ==================== */

$amount:                                                     30;

$serif-font:                                           "adelle";
$sans-font:                                 "brandon-grotesque";

$primary-color:                                         #AA6376;
$accent-dark-color:         darken($primary-color, $amount / 2);
$accent-light-color:       lighten($primary-color, $amount / 2);
                                              
$pop-color:                                             #508A83;
$pop-hover-color:                                       #9AD4C3;
                                              
$main-type-color:                                       #666666;
$light-type-color:       lighten($main-type-color, $amount / 2);
$just-off-white-type-color:                             #FCFCFC;
                                              
$gray-stroke-color:    lighten($main-type-color, $amount * 1.5);
$white-color:                                           #FFFFFF;

/* Mecahnics ==================== */

body {
  padding-top: 50px;
}

/* Center the navbar */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* General ==================== */

body {
  font-family: $serif-font;
  font-weight: 300;
  color: $main-type-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font;
}

ol, ul {
  list-style: none;
}

.bg-warning, .bg-danger {
  padding: 10px;
}

.bg-danger {
  margin-bottom: 3em;
}

/* Navigation ==================== */

.navbar-default .navbar-brand, .navbar-brand>a, .navbar-default .navbar-nav>li>a, .page-header {
  color: $just-off-white-type-color;
}

.navbar {
  background-color: $primary-color;
  margin-bottom: 0px;
  border-bottom-width: 3px;
}

.navbar-brand>a {
  font-family: $sans-font;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $just-off-white-type-color;
  background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $accent-dark-color;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  font-family: $sans-font;
  font-size: 125%;
}

.navbar-fixed-top {
  border-color: $accent-dark-color;
}

/* Hamburger button */
.navbar-default .navbar-toggle {
  border-color: $just-off-white-type-color;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $just-off-white-type-color;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $accent-dark-color;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-brand>a:hover {
  color: $accent-dark-color;
  webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.jumbotron {
  background-color: $just-off-white-type-color;
}

.jumbotron > div > div > h1 {
  font-weight: bold;
  margin-bottom: 5%;
}

/* Links =================================== */

a {
  color: $pop-color;
}

a:hover, a:focus {
  color: $pop-hover-color;
  text-decoration: none;
}

.btn-default {
  color: $pop-color;
  background-color: $white-color;
  border-color: $pop-color;
}

.btn-default:hover {
  color: $pop-color;
  background-color: $pop-hover-color;
  border-color: $pop-hover-color;
  webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn-sm {
  margin-top: 0.75em;
}

/* Section Rows ==================== */

.section {
  font-size: 120%;
}

header {
  padding-top: 30px;
  border-top: solid 1px $accent-dark-color;
  color: $primary-color;
}

.section h2 {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px $gray-stroke-color;
}

.section h3 {
  color: $light-type-color;
}

.section > div > small span a {
  background-color: $gray-stroke-color;
  padding: 10px 20px;
  margin-right: 10px;
}

/* Home ==================== */

/* from http://css-tricks.com/perfect-full-page-background-image/ */
#background-photo {
  background-image: url(../images/couple.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: fixed;
  top: 3em;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#background-photo > .row {
  margin-top: 9%;
  text-align: center;
}

#savetitle {
  font-weight: bold;
  font-size: 300%;
}

#savedate {
  font-size: 150%;
}

/* Schedule ==================== */

.section-event div header {
  font-size: 95%;
}

header span {
  color: $light-type-color;
}

.section-event {
  margin-bottom: 4em;
}

/* Set the first section away from the header */
.section-event:nth-of-type(1) {
  margin-top: 4em;
}
.section-travel:nth-of-type(1) {
  margin-top: 4em;
}

/* Ceremony ==================== */

.section-ceremony:nth-of-type(1) {
  margin-top: 4em;
}

.section-ceremony div header {
  border-top: none;
  padding-top: 24px;
}

.section-ceremony div h2 {
  border-top: none;
}

/* Guide ==================== */

.section-location {
  margin-bottom: 4em;
  padding-left: 0px;
  padding-right: 0px;  
}

.location {
  font-size: 120%;
  background-color: white;
  padding: 20px;
}

.location.active {
  background-color: $pop-color;
  color: $white-color;
}

#locations {
  background-color: white;
  margin-top: 20px;
}

#locations > div > div > header {
  font-size: 120%;
}

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
}

#map {
  position:absolute;
  top:0px;
  bottom:0px;
  width:230%;
  left:-50%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}

.marker-title {
  font-family: $sans-font;
  font-size: 1.5em;
  color: $accent-dark-color;
}

/* Travel ==================== */

.section-travel > div > .btn-sm {
  margin-bottom: 4em;
}

.section-travel > div > h3:nth-of-type(1) {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px $gray-stroke-color;
}

address {
  font-size: 85%;
  color: $main-type-color;
}

/* Registry ==================== */

.section-registry > div > a > img {
  margin-top: 10%;
  margin-bottom: 5%;
}

/* Footer ==================== */

div.infinity {
  text-align: center;
  font-size: 200%;
  color: $gray-stroke-color;
  margin: 1em 0;
}

/* Responsive ==================== */


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .jumbotron {
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 0px;
    border-bottom: solid 2px $accent-dark-color;
  }

  #savetitle {
    font-size: 200%;
  }

  #savedate {
    font-size: 115%;
  }
  
  .section-event:nth-of-type(1) {
    margin-top: 0px;
  }

  .section-travel:nth-of-type(1) {
    margin-top: 0px;
  }

  .section:first-of-type > div > header {
    border-top: 0px;
  }

  #locations > .row:nth-of-type(2) > .col-md-12 > header {
    border-top: 0px;
  }

  #locations {
    margin-top: 0px;
  }

  .location.active {
    background-color: $white-color;
    color: $main-type-color;
  }
  
  .section-registry > div {
    margin-bottom: 10%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) and (min-width: 768px) {
  .jumbotron p {
    width: 90%;
  }

  .location p {
    width: 70%;
  }
  .location.active {
    background-color: $white-color;
    color: $main-type-color;
  }
  
  .section-registry {
    margin-left: 2em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {

}
