/* Mecahnics ==================== */

body {
  padding-top: 70px;
}

/* General ==================== */

ol, ul {
  list-style: none;
}

/* Section Rows ==================== */

.section {
  font-size: 120%;
}

header {
  padding-top: 30px;
  border-top: solid 1px #b99a54;
  color: #b99a54;
}

.section h2 {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px #e6e6e6;
}

.section h3 {
  color: #888888;
}

.section > div > small span a {
  background-color: #e6e6e6;
  padding: 10px 20px;
  margin-right: 10px;
}

/* Schedule ==================== */

header span {
  color: #b3b3b3;
}

.section-event {
    margin-bottom: 4em;
}

/* Set the first section away from the header */
.section-event:nth-of-type(1) {
  margin-top: 4em;
}
.section-travel:nth-of-type(1) {
  margin-top: 4em;
}

/* Guide ==================== */

.section-location {
    margin-bottom: 4em;
}

.location {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.location.active {
  background:#222;
  color:#eee;
}

#locations {
  background-color: white;
}

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
}

#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:230%;
  left:-50%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}

/* Travel ==================== */

.section-travel {
    margin-bottom: 4em;
}

.section-travel > div > h3:nth-of-type(1) {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px #e6e6e6;
}
