/* Mecahnics ==================== */

body {
  padding-top: 70px;
}

/* General ==================== */

ol, ul {
  list-style: none;
}

/* Section Rows ==================== */

.section {
  margin-bottom: 4em;
  font-size: 120%;
}

header {
  padding-top: 30px;
  border-top: solid 1px #b99a54;
  color: #b99a54;
}

/* Set the first section away from the header */
.section:nth-of-type(1) {
  margin-top: 4em;
}

.section h2 {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px #e6e6e6;
}

.section h3 {
  color: #888888;
}

.section > div > small span a {
  background-color: #e6e6e6;
  padding: 10px 20px;
  margin-right: 10px;
}

/* Schedule ==================== */

header span {
  color: #b3b3b3;
}

/* Guide ==================== */

.location {
  background-color: white;
  margin-bottom: 20px;
}

.location.active {
  background:#222;
  color:#eee;
}

/* Travel ==================== */

.section-travel > div > h3:nth-of-type(1) {
  margin-top: 0;
  padding-top: 20px;
  border-top: solid 1px #e6e6e6;
}
